# ---- Общие ----
NODE_ENV=development
DATABASE_PATH=./data/app.db

# ---- Discord bot ----
DISCORD_TOKEN=your-bot-token
DISCORD_CLIENT_ID=your-client-id
DISCORD_OWNERS=your-owner-id
DISCORD_PREFIX=!

# ---- Express server ----
PORT=3000
HOST=https://localhost:3000/

# ---- Workers ----
SERVICE_COUPONS=true
SERVICE_QUEUE=true

# ---- BDO ----
MARKET_URL=https://trade.ru.playblackdesert.com/
MARKET_COOKIE=
COUPONS_URL=https://orbit-games.com/black-desert/gajdy-black-desert/vse-kupony-bdo/
