module.exports = {
  token: '',
  clientId: '',
  prefix: '!',
  db: {
    database: "db name",
    user: "username",
    password: "password",
    server: {
      host: "localhost",
      dialect: "mariadb",
    },
  },
  hostname: "https://your.site/path/to/app/folder/in/web/service",
  owners: [''],
  debug: false,
  coupons: true,
  queue: true,
  region: {
    url: 'https://trade.ru.playblackdesert.com/',
    cookie: ''
  }
}
