@import './base.css';

html.dark {
  background: theme(colors.shark.950);
  color-scheme: dark;
  color: theme(colors.white / 90%);
}

button,
a {
  @apply outline-none;
}

button:focus-visible,
a:focus-visible {
  @apply ring-2 ring-accent/60 rounded;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

*::selection {
  background-color: theme(colors.accent / 30%);
}

.dark *::selection {
  background-color: theme(colors.accent / 50%);
}

.container-md {
  width: 100%;
}

@media (min-width: 640px) {
  .container-md {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-md {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-md {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container-md {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container-md {
    max-width: 1024px;
  }
}

.fade-enter-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
