module.exports = {
  token: '',
  clientId: '',
  prefix: '!',
  owners: [''],
  debug: false,
  coupons: true,
  queue: true,
  region: {
    url: 'https://trade.ru.playblackdesert.com/',
    cookie: ''
  }
}
