module.exports = {
  token: '',
  clientId: '',
  prefix: '!',
  owners: [''],
  debug: false,
  coupons: true,
  queue: true,
  regions: {
    RU: {
      url: 'https://trade.ru.playblackdesert.com/',
      cookie: ''
    }
  }
}
